<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <title>Список книг</title>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
</head>

<body>

<div th:replace="~{navigation :: navi(Books)}"/>

<div class="container">


    <h1 th:text="#{books.list}" />

    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Password</th>
            <th>FirstNAme</th>
            <th>LastName</th>
            <th>email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr  class="responsive-row" th:each="book : ${books}">


            <td th:text="${book.id}"/>
            <td th:text="${book.title}"/>
            <td th:text="${book.author}"/>

            <td>
                <a  th:href="@{'/books/delete/' + ${book.id}}" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>



</div>

</body>
</html>