<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <title>Список пользователей</title>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
</head>

<body>

<div th:replace="~{navigation :: navi(Calls)}"/>

<div class="container">


    <h1 th:text="#{calls.list}" />

    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Phone</th>
            <th>Client Name</th>
            <th>Message</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        <tr  class="responsive-row" th:each="call : ${calls}">


            <td th:text="${call.id}"/>
            <td th:text="${call.phone}"/>
            <td th:text="${call.name}"/>
            <td th:text="${call.question}"/>
            <td>

                <a  th:href="@{'/calls/delete/' + ${call.id}}" class="btn btn-danger">Удалить</a>
                <a  th:href="@{'/calls/edit/' + ${call.id}}" class="btn btn-danger">Изменить</a>



            </td>
        </tr>
        </tbody>
    </table>



</div>

</body>
</html>