<!doctype html>
<html class="no-js" lang="zxx">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title text="Авторизация"></title>
    <div th:replace="~{csslink}"/>
</head>
<body>

<main class="login-body" >
    <form class="form-default" th:action="@{/authenticateTheUser}" method="POST">

        <div class="login-form">
            <div class="logo-login">
                <img th:src="@{/assets/img/logo/loder.png}" alt="">
            </div>
            <div class="form-input">
                <label for="name" text="Логин"/>
                <input  type="text" name="username" placeholder="Логин"/>
            </div>
            <div class="form-input">
                <label for="name" text="Пароль"/>
                <input type="password" name="password" placeholder="Пароль"/>
            </div>
            <div class="form-input pt-30">
                <input type="submit" name="submit" value="Войти">
            </div>

            <a th:href="@{/register/showRegistrationForm}" class="registration" th:text="Зарегистрироваться"></a>
        </div>
    </form>

</main>

<!--<div th:replace="~{scriptlink}"/>-->


</body>
</html>